name: CI Pipeline

on:
  pull_request:
    branches: [develop, main]
  push:
    branches: [develop]
  workflow_call:
    secrets:
      SOME_SECRET:
        required: true

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: git checkout HEAD^

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: '11'

      - name: Cache Maven Packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Run Unit Tests
        run: mvn -B test

      # TODO: run integration tests with docker-compose

#      - name: Cache SonarCloud Packages
#        uses: actions/cache@v1
#        with:
#          path: ~/.sonar/cache
#          key: ${{ runner.os }}-sonar
#          restore-keys: ${{ runner.os }}-sonar
#
#      - name: Analyze With SonarCloud
#        run: mvn -B verify sonar:sonar -Dsonar.projectKey=DISLINKT-ORGANIZATION_test-repo -Dsonar.organization=dislinkt-organization -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots package

      - name: Semantic Versioning
        id: versioning
        if: ${{ github.event_name == 'push' }}
        uses: paulhatch/semantic-version@v4.0.2
        with:
          tag_prefix: "v"
          major_pattern: "(MAJOR)"
          minor_pattern: "(MINOR)"
          format: "${major}.${minor}.${patch}"
          bump_each_commit: true

      - name: Print current version
        run: echo ${{ steps.versioning.outputs.version }}

      - name: Upload Jar Artifact
        if: ${{ github.event_name == 'push' }}
        uses: actions/upload-artifact@v3
        with:
          name: build-${{ steps.versioning.outputs.version }}.jar
          path: target/*.jar

      - name: Set Up QEMU
        if: ${{ github.event_name == 'push' }}
        uses: docker/setup-qemu-action@v2

      - name: Set Up Docker Buildx
        id: buildx
        if: ${{ github.event_name == 'push' }}
        uses: docker/setup-buildx-action@v2

      - name: Docker Login
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        if: ${{ github.event_name == 'push' }}
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: Docker build
        id: docker_build
        if: ${{ github.event_name == 'push' }}
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          builder: ${{ steps.buildx.outputs.name }}
          tags: ${{ secrets.DOCKER_USERNAME }}/test-1:${{ steps.versioning.outputs.version }}
          load: true

      - name: Docker push
        id: docker_push
        if: ${{ github.event_name == 'push' }}
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/test-1:${{ steps.versioning.outputs.version }}

      - name: Upload image
        if: ${{ github.event_name == 'push' }}
        uses: ishworkh/docker-image-artifact-upload@v1
        with:
          image: ${{ secrets.DOCKER_USERNAME }}/test-1:${{ steps.versioning.outputs.version }}

